.auth-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    top: 10rem;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 36rem;
    height: 60rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 4rem;

}
