#icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.Icon {

    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.Icon span {
    display: block;
    position: absolute;
    left: 0;
    top: 15px;
    height: 5px;
    width: 100%;
    background: var(--color-primary);
    border-radius: 2px;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
}

.Icon span:nth-child(1),
.Icon span:nth-child(3) {
    width: 50%;
    transform: rotate(45deg);
}

.Icon span:nth-child(1) {
    left: 2px;
    top: 10px;
}

.Icon span:nth-child(2) {
    transform: rotate(-45deg);
}

.Icon span:nth-child(3) {
    left: 14px;
    top: 21px;
}

.Icon.open span:nth-child(1),
.Icon.open span:nth-child(3) {
    left: -1px;
}

.Icon.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.Icon.open span:nth-child(2) {
    transform: rotate(0deg);
}

.Icon.open span:nth-child(3) {
    top: 20px;
    transform: rotate(45deg);
}
